body{
    background-image: url(../background.jpg)
}
.myimage
{
    text-align: center;
}
h1{
    color: blue;
    text-align: center
}
h2
{
    color: #4A2040;
}
.email
{
    text-align: center;
    margin: 10px
}